			{% extends 'website/base.html' %}
			{% load static %}
			{% block content %}
					<div class="container" id="about-page">
						<div class="row">
						<div class="col-md-6">
							<h2 style="text-align: center;">About Us</h2>
							<p>Cross-country investment faces several challenges, including language and cultural barriers,
							political and economic instability, currency exchange and conversion, regulatory and legal
							environment, market risk, limited access to information, and logistics and infrastructure.
							These challenges can significantly impact investment opportunities, making it difficult for
							investors to make informed investment decisions, comply with legal requirements, manage risks,
							and navigate the complexities of cross-country investment.</p>
					
							<p>Our platform is dedicated to strengthening investment promotion between Nigeria-Rwanda. We
							believe that by creating a bridge between these two economies, we can unlock untapped potential
							and help drive growth and prosperity for businesses on both sides.</p>
					
							<p>Our platform is designed to facilitate this process, providing a seamless and user-friendly
							experience for investors looking to explore opportunities in both countries.</p>
					
							<h4>Vision Statement</h4>
							<p>Creating a world where businesses from different countries can seamlessly connect and drive
							economic growth together.</p>
					
							<h4>Mission Statement</h4>
							<p>We strive to be a trusted partner for businesses of all sizes, providing them with the resources they
							need to make informed investment decisions and navigate the complexities of cross-country
							investment.</p>
					
							
						</div>
						<div class="col-md-6" >
							<img src="{% static 'website/IMG-20230410-WA0175.jpg' %}" alt="Image" class="img-fluid" id="watermark">
							
						</div>
						</div>
						</div>
						<hr class="content-divider">
						<div class="container">
							<h2 class="text-center mb-5">Meet the Team</h2>
							<div class="row justify-content-center">
							<div class="col-md-4 mb-4">
								<div class="team-member text-center">
								<img src="{% static 'website/tarik-haiga-BxELNNMN88Y-unsplash.jpg' %}" alt="Person 1" class="team-member img">
								<div class="overlay mt-3">
									<h3>Person 1</h3>
									<p>Job description for Person 1</p>
								</div>
								</div>
							</div>
							<div class="col-md-4 mb-4">
								<div class="team-member text-center">
								<img src="{% static 'website/tarik-haiga-BxELNNMN88Y-unsplash.jpg' %}" alt="Person 2" class="team-member img">
								<div class="overlay mt-3">
									<h3>Person 2</h3>
									<p>Job description for Person 2</p>
								</div>
								</div>
							</div>
							<div class="col-md-4 mb-4">
								<div class="team-member text-center">
								<img src="{% static 'website/tarik-haiga-BxELNNMN88Y-unsplash.jpg'%}" alt="Person 3" class="team-member img">
								<div class="overlay mt-3">
									<h3>Person 3</h3>
									<p>Job description for Person 3</p>
								</div>
								</div>
							</div>
							</div>
						</div>
					{% endblock %}
					