{% extends 'website/base.html' %}
{% load static %}
{% block content %}

<div style="padding: 100px;" class="ha">
<div>
    <h1> On this page, you will receive latest tweets about Rwanda and Nigeria</h1>
</div>
</div>
<div class="col-md-4">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" nonce="OPvEzwT2"></script>
    <div class="fb-post" data-href="https://m.facebook.com/story.php?story_fbid=pfbid02Hxy6w6kD1B8Pp6VvWRkErnTeqxG2oXr9XBw79oz6sSeRDDsL96qzQD8HxUXMkWJwl&amp;id=100000682501839&amp;mibextid=CDWPTG" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/patrikraul.buchana/posts/1526624464036956" class="fb-xfbml-parse-ignore"><p>It was an absolute honor to share the progress of AC Group with four heads of State - H.E Paul Kagame, President of...</p>Posted by <a href="https://www.facebook.com/patrikraul.buchana">Patrick Nsenga Buchana</a> on&nbsp;<a href="https://www.facebook.com/patrikraul.buchana/posts/1526624464036956">Friday, May 12, 2017</a></blockquote></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" nonce="xwTnhCEe"></script>
    <div class="fb-post" data-href="https://m.facebook.com/story.php?story_fbid=pfbid02fqfLyVW3sainHZf8qe6a2ozmUJayWqhW9qBs24PQuPXf7XXdEytnNynHZoStYLu5l&amp;id=801734289860951&amp;mibextid=CDWPTG" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/RwandaTheHeartOfAfrica/posts/3075702679130756" class="fb-xfbml-parse-ignore"><p>Rwanda Coronavirus Update   🤕🤕🤕
    </div>
{% endblock%}
